body {
	background: whitesmoke;
}

h1 {
	display: none;
}

.box-github {
	min-width: 100%;
	max-width: 100%;
	display: flex;
	margin: 125px auto 0px auto;
}

.link-github {
	margin: 0px auto;	
}

.lg-github {
	margin: 0px auto;
	min-width: 60%;
	max-width: 60%;
}

.box-gblogbe {
	min-width: 100%;
	max-width: 100%;

	display: flex;
	text-align: center;
	margin: 150px auto 0px auto;
	padding: 50px 0px;

	border-top: 5px dotted rgba(210, 210, 210, 0.1);
	border-bottom: 5px dotted rgba(210, 210, 210, 0.1);
}

.link-gblogbe {
	min-width: 100%;
	max-width: 100%;
}

.lg-gblogbe {
	min-width: 30%;
	max-width: 30%;

	margin: 0px auto;
}

.hrtp, .hrbttm {
	min-height: 50px;
	max-height: 50px;

	background: #9cd9ef;
	position: fixed;
	min-width: 100%;
}

.hrtp {

	top: 0px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hrbttm {
	bottom: 0px;
	display: none;
}